# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.swp

# Entornos de desarrollo
.env

# Node.js
node_modules/

# Ignorar vendor (dependencias de Composer)
Backend/example-app/vendor/

# Ignorar claves, logs y cachés
Backend/example-app/storage/*.key
Backend/example-app/storage/*.log
Backend/example-app/storage/framework/cache/*
Backend/example-app/storage/framework/sessions/*
Backend/example-app/storage/framework/views/*
Backend/example-app/bootstrap/cache/*

# Ignorar variables de entorno y archivos temporales
Backend/example-app/.env
Backend/example-app/.phpunit.result.cache

# IDEs
.vscode/
.idea/
